html
{
    font-family: 
        'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, 
        Verdana, 
        sans-serif
}

body 
{
    margin: auto;
    max-width: 640px;
}

#contact-info 
{
    text-align: center;
}